@page
@model Idp.Swiyu.IdentityProvider.Pages.ForgotPassword.ForgotPasswordSwiyuModel

<div class="container my-5">

    @if (Model.QrCodePng!.Length > 0)
    {
        <div class="row justify-content-center mt-4" id="qrCodeImage">
            <div class="col-md-8 text-center">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Scan using your swiyu wallet</h5>
                        <img alt="qr code" width="300" src="data:image;base64,@System.Convert.ToBase64String(Model.QrCodePng)" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.VerificationId != null)
    {
        <form method="post" id="pollSwiyu" name="pollSwiyu">
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" id="verificationId" name="verificationId" asp-for="VerificationId" />
            <button style="display:none;" type="submit" id="buttonPollSwiyu" name="buttonPollSwiyu" class="btn btn-outline-dark">Start polling</button>
        </form>
    }
</div>

@section scripts {
    <script src="~/forgot-password-swiyu.js"></script>
}
