@using Duende.IdentityServer.Extensions
@using Microsoft.AspNetCore.Identity
@using Idp.Swiyu.IdentityProvider.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    #nullable enable
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/duende-logo.svg" class="icon-banner">
            Duende IdentityServer
        </a>

        <ul class="navbar-nav mr-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-page="/Account/Logout/Index" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" id="register" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" asp-page="/Account/Login/Index">Login</a>
                </li>
            }
        </ul>
    </nav>
</div>
